<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script type="text/javascript">
  function GetMap()
  {
    var myLat = 37.796;   // Default lat, lng
    var myLng = -122.406;
    var orgPinInfobox = null;
    var orgPins = new Microsoft.Maps.EntityCollection();
    var orgPinInfoboxes = new Microsoft.Maps.EntityCollection();
    var options = {
      enableHighAccuracy: true,
      timeout: 10000,
      maximumAge: 60000
    };
     
    function success(pos) {
      console.log('GetLocation Success. Map is loading.');
      var crd = pos.coords;
      myLat = crd.latitude;
      myLng = crd.longitude;
      
      loadMap(myLat, myLng);
    };

    function loadMap(lat, lng) {
      var location = new Microsoft.Maps.Location(lat, lng);
      var map = new Microsoft.Maps.Map(document.getElementById('bing_map'), 
        {credentials: 'Av3KxY1c6mhrQ-kkwXXiJLBVEbvUUs-VnYPFtfTGh443r4xyegm7QWbzFILo_mDa',
         center: location,
         mapTypeId: Microsoft.Maps.MapTypeId.road,
         showScalebar: false,
         showDashboard: false,
         zoom: 13});

      var pushpinOptions = {
        icon: '/assets/mylocation.png', 
        width: 64, 
        height: 64, 
        anchor: new Microsoft.Maps.Point(32,32)};
      var pin = new Microsoft.Maps.Pushpin(location, pushpinOptions);
      orgPins.push(pin);

      orgPinInfobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0,0), { visible: false });
      orgPinInfoboxes.push(orgPinInfobox);

      addPins(map, lat, lng);

      map.entities.push(orgPins);
      map.entities.push(orgPinInfoboxes);

      Microsoft.Maps.Events.addHandler(map, 'viewchange', hideInfobox);
    };
     
    function error(err) {
      console.warn('ERROR(' + err.code + '): ' + err.message);
    };

    function addPins(map, lat, lng) {
      var url = 'http://revtilt.com/api/v1/organizations.json?latitude=' + lat + '&longitude=' + lng + '&radius=2'
      $.get(url, function(data) { 
        orgs = data;
        // Get data for each organization
        for(var i=0; i < orgs.organizations.length; i++) {
          var thisOrg = orgs.organizations[i];
          var pinLat = thisOrg.location.latitude;
          var pinLng = thisOrg.location.longitude;
          var pinLocation = new Microsoft.Maps.Location(pinLat, pinLng);
          var orgPin = new Microsoft.Maps.Pushpin(pinLocation);
          
          // Attach values to the pin
          orgPin.Title = thisOrg.name;
          orgPin.Description = thisOrg.categoryText;
          orgPin.Rating = thisOrg.reviewSummary.avgReview;
          orgPin.Url = thisOrg.revtiltUrl;

          Microsoft.Maps.Events.addHandler(orgPin, 'click', displayInfobox);
          orgPins.push(orgPin);
        }
      })
    }
    
    function displayInfobox(e) {
      // Custom Infobox HTML
      var infoboxHtml = '<div class="infobox"><b><a href="' + generateLink(e.target.Url) + '">' + e.target.Title + '</a></b><br />Category: ' + e.target.Description + '<br />Rating: ' + e.target.Rating + '</div>';
      orgPinInfobox.setOptions({
        visible: true,
        htmlContent: infoboxHtml,
        offset: new Microsoft.Maps.Point(0,28)});
      orgPinInfobox.setLocation(e.target.getLocation());
    }

    function hideInfobox(e) {
      orgPinInfobox.setOptions({ visible: false });
    }

    function getIdFromApiUrl(url) {
      var getId = new RegExp("[0-9]+");
      id = getId.exec(url)
      return id[0];
    }

    function generateLink(url) {
      id = getIdFromApiUrl(url);
      link = 'business/show?oid=' + id;
      return link;
    }

    <% if @lat.present? && @lng.present? %>
      console.log("lat, lng present");
      loadMap(<%= @lat %>, <%= @lng %>);
    <% else %>
      navigator.geolocation.getCurrentPosition(success, error, options);
    <% end %>
  }
</script>