<div class="navbar">
  <div class="navbar-inner" id="header">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
    
      <ul class="nav">
        <li>
          
        </li>

      </ul>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <form class="navbar-search pull-right">
          <%= form_tag({ action: "index" }, method: :get) do %>
            <%= text_field_tag "address", "Search", id: "search-query" %>  
          <% end %>
        </form>
      </div>

    </div>
  </div>
</div>

<div id="float_title">
  <a href="/">Autism<b>Help</b></a>
</div>
<div id="float_links">
  <%= link_to 'About', about_path %> &nbsp;&nbsp;
  <%= link_to 'Team', team_path %>
</div>