<% content_for :bing_map do %>
  <%= render 'bing_maps' %>
<% end %>

<div id='bing_map'></div>

<div id='overlay_top'>
  <%= render 'business/navbar' %>
</div>

<div id='overlay_current_location_icon'>
  <%= link_to '/' do %>
    <% image_tag '/assets/getmylocation.png' %>
  <% end %>
</div>