<%= render 'business/navbar' %>
<div class="all-info">
<div class="main-image">
<%= image_tag('placeholder.jpg') %>
</div>
<div class="business-info">
<h2>Business Name</h2>
  <% 4.times do |star| %>
  <%= image_tag('redstar.jpeg', :size => "20x20" ) %>
  <% end %>
<p class="attributes">Autism friendly</p>
</div>
</div>
<br>
<div class="photos">
  <h2>Photos</h2>
</div>
<div class="reviews">
  <h2>Reviews</h2>
</div>

