<% content_for :no_map do %>
  <%= render 'do_nothing' %>
<% end %>

<%= render 'business/navbar' %>

<div id="static_content">
  <h1>Team Members:</h1><br>
  Cyrus Stoller<br>
  Sara Robinson<br>
  Yu Jiang Tham<br><br>

  <h1>GitHub:</h1><br>
  <a href="https://github.com/ytham/autismhelp">AutismHelp</a><br>
  <a href="https://github.com/ytham/RevTilt">RevTilt</a><br>
</div>