// Place all the styles related to the business controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

$baseFontFamily: Ubuntu;
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.all-info {
  width: 500px;
  margin: 15px;
  font-family: Ubuntu;
  .attributes {
    margin-top: 10px;
  }
  .main-image img {
    width: 150px;
    float: left;
    padding-right: 20px;
  }
}

.photos {
  font-family: Ubuntu;
  margin: 15px;
}



